server:
    port: 8084
spring:
    application:
        name: vocabulary-service
    datasource:
        url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/vocabulary_service}
        username: ${SPRING_DATASOURCE_USERNAME:sysadm}
        password: ${SPRING_DATASOURCE_PASSWORD:admin}
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
          ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                show-sql: true
                format-sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    ai:
        openai:
            api-key: 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
            chat:
                options:
                    model: gpt-4o-mini

services:
    free-dictionary: https://api.dictionaryapi.dev/api/v2/entries/en
    datamuse: https://api.datamuse.com
    piper: http://localhost:59125