server:
    port: 8084
spring:
    application:
        name: vocabulary-service
    datasource:
        url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/vocabulary_service}
        username: ${SPRING_DATASOURCE_USERNAME}
        password: ${SPRING_DATASOURCE_PASSWORD}
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
          ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                show-sql: true
                format-sql: true
        database-platform: org.hibernate.dialect.PostgreSQLDialect
    ai:
        openai:
            api-key: ${OPENAI_API_KEY}
            chat:
                options:
                    model: gpt-4o-mini
elevenlabs:
    api-key: ${ELEVENLABS_API_KEY}
    voice-id: ${ELEVENLABS_VOICE_ID}

vocabulary-service:
    base-url: ${BASE_URL}